  <!-- ==== HEADERWRAP ==== -->
  <div id="headerwrap" id="home" name="home">
  <header class="clearfix">
  	 		<h1>Speaker Finder</h1>
  	 		<p>The easy way to find great speakers for your conference</p>
  	</header>	    
  </div><!-- /headerwrap -->
  
  <!-- ==== GREYWRAP ==== -->
  <div id="greywrap">
  <div class="row">
  	<div class="col-lg-4 callout">
  		<span class="icon icon-stack"></span>
  		<h2>Find great speakers</h2>
  		<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus. </p>
  	</div><!-- col-lg-4 -->
  		
  	<div class="col-lg-4 callout">
  		<span class="icon icon-eye"></span>
  		<h2>Rate your favourite speakers</h2>
  		<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. </p>
  	</div><!-- col-lg-4 -->	
  	
  	<div class="col-lg-4 callout">
  		<span class="icon icon-heart"></span>
  		<h2>Find speaking opportunities</h2>
  		<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper.</p>
  	</div><!-- col-lg-4 -->	
  </div><!-- row -->
  </div><!-- greywrap -->
  
  <!-- ==== ABOUT ==== -->
  <div class="container" id="about" name="about">
  <div class="row white">
  <br>
  	<h1 class="centered">What is Speaker Finder?</h1>
  	<hr>
  	
  	<div class="col-lg-6">
  		<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. Donec sed odio dui. Vestibulum id ligula porta felis euismod semper.</p>
  	</div><!-- col-lg-6 -->
  	
  	<div class="col-lg-6">
  		<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla.</p>
  	</div><!-- col-lg-6 -->
  </div><!-- row -->
  </div><!-- container -->
  
  <section class="section-divider textdivider divider6">
  	<div class="container">
  		<h1>Find your next awesome speaker</h1>
  		<hr>
  		<p><a class="icon icon-twitter" href="https://www.facebook.com/speakerfinder"></a> | <a class="icon icon-facebook" href="https://twitter.com/speaker_finder"></a></p>
  	</div><!-- container -->
  </section><!-- section -->