  <!-- ==== HEADERWRAP ==== -->
  <div id="headerwrap" id="home" name="home">
  <header class="clearfix">
  	 		<h1>Speaker Finder</h1>
  	 		<p>The easy way to find great speakers for your conference</p>
  	 		<form class="navbar-form" role="search">
  	 		  <div class="form-group">
  	 		    <input type="text" class="form-control" placeholder="Search for a speaker">
  	 		  </div>
  	 		  <!-- Split button -->
  	 		  <div class="btn-group">
  	 		    <button type="button" class="btn btn-primary">Search</button>
  	 		    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
  	 		      <span class="caret"></span>
  	 		      <span class="sr-only">Toggle Dropdown</span>
  	 		    </button>
  	 		    <ul class="dropdown-menu" role="menu">
  	 		      <li><a href="#">Find by name</a></li>
  	 		      <li><a href="#">Find by city</a></li>
  	 		      <li><a href="#">Find by skillset</a></li>
  	 		    </ul>
  	 		  </div>
  	 		</form>
  	</header>	    
  </div><!-- /headerwrap -->
  
  <!-- ==== GREYWRAP ==== -->
  <div id="greywrap">
  <div class="row">
  	<div class="col-lg-4 callout">
  		<span class="icon icon-stack"></span>
  		<h2>Find great speakers</h2>
  		<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus. </p>
  	</div><!-- col-lg-4 -->
  		
  	<div class="col-lg-4 callout">
  		<span class="icon icon-eye"></span>
  		<h2>Rate your favourite speakers</h2>
  		<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. </p>
  	</div><!-- col-lg-4 -->	
  	
  	<div class="col-lg-4 callout">
  		<span class="icon icon-heart"></span>
  		<h2>Find speaking opportunities</h2>
  		<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper.</p>
  	</div><!-- col-lg-4 -->	
  </div><!-- row -->
  </div><!-- greywrap -->
  
  <!-- ==== ABOUT ==== -->
  <div class="container" id="about" name="about">
  <div class="row white">
  <br>
  	<h1 class="centered">What is Speaker Finder?</h1>
  	<hr>
  	
  	<div class="col-lg-6">
  		<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. Donec sed odio dui. Vestibulum id ligula porta felis euismod semper.</p>
  	</div><!-- col-lg-6 -->
  	
  	<div class="col-lg-6">
  		<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla.</p>
  	</div><!-- col-lg-6 -->
  </div><!-- row -->
  </div><!-- container -->
  
  <section class="section-divider textdivider divider6">
  	<div class="container">
  		<h1>Find your next awesome speaker</h1>
  		<hr>
  		<form class="navbar-form" role="search">
  		  <div class="form-group">
  		    <input type="text" class="form-control" placeholder="Search for a speaker">
  		  </div>
  		  <!-- Split button -->
  		  <div class="btn-group">
  		    <button type="button" class="btn btn-primary">Search</button>
  		    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
  		      <span class="caret"></span>
  		      <span class="sr-only">Toggle Dropdown</span>
  		    </button>
  		    <ul class="dropdown-menu" role="menu">
  		      <li><a href="#">Find by name</a></li>
  		      <li><a href="#">Find by city</a></li>
  		      <li><a href="#">Find by skillset</a></li>
  		    </ul>
  		  </div>
  		</form>
  	</div><!-- container -->
  </section><!-- section -->
  
  		<div class="container" id="contact" name="contact">
  			<div class="row">
  			<br>
  				<hr>
  				<div class="col-lg-4">
  					<h3>Contact Information</h3>
  					<p>
  						<span class="icon icon-envelop"></span> <a href="mailto:ContactUs@SpeakerFinder.com"> ContactUs@SpeakerFinder.com</a> <br/>
  						<span class="icon icon-twitter"></span> <a href="https://twitter.com/speaker_finder"> @speaker_finder </a> <br/>
  						<span class="icon icon-facebook"></span> <a href="https://www.facebook.com/speakerfinder"> Speaker Finder </a> <br/>
  					</p>
  				</div><!-- col -->
  				
  				<div class="col-lg-4">
  					<h3>Newsletter</h3>
  					<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  					<p>
  						<form class="form-horizontal" role="form">
  						  <div class="form-group">
  						    <label for="inputEmail1" class="col-lg-4 control-label"></label>
  						    <div class="col-lg-10">
  						      <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
  						    </div>
  						  </div>
  						  <div class="form-group">
  						    <label for="text1" class="col-lg-4 control-label"></label>
  						    <div class="col-lg-10">
  						      <input type="text" class="form-control" id="text1" placeholder="Your Name">
  						    </div>
  						  </div>
  						  <div class="form-group">
  						    <div class="col-lg-10">
  						      <button type="submit" class="btn btn-success">Sign up</button>
  						    </div>
  						  </div>
  					   </form><!-- form -->
  					</p>
  				</div><!-- col -->
  				
  				<div class="col-lg-4">
  					<h3>Support Us</h3>
  					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
  				</div><!-- col -->
  
  			</div><!-- row -->
  		
  		</div><!-- container -->