<div id="speaker" class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>New Speaker</h1>
        <%= render 'form' %>
    </div><!--col-md-12-->
  </div><!--row-->
</div><!--container-->